.property-cascade {
  margin: 5px;
}

.property-cascade > h1 {
  font: normal 1.2rem grande;
  letter-spacing: 1px;
  margin: 8px;
  text-transform: capitalize;
}

.iliauni-headers {
  color: black;
  font-family: grande;
  overflow: hidden;
  max-width: 600px;
  width: 100%;
}

.iliauni-headers > h1 {
  font-size: 1.2rem;
  text-align: center;
  width: auto;
}

.iliauni-headers > h1:nth-child(2) {
  font-size: 3rem;
}
.iliauni-headers > h1:nth-child(3) {
  font-size: 1.5rem;
}

.iliauni-headers > p {
  color: #252525;
  line-height: 25px;
  padding: 15px 15px;
  text-shadow: 0 0 8px #ddd;
}

.iliauni-headers > p::first-letter {
  color: rgb(155, 14, 14);
  font-size: 3rem;
  padding: 5px;
}
